<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Litewait</title>
    <!-- inject:css -->
    <!-- any *.css files among your sources will go here as: <link rel="stylesheet" href="FILE"> -->
    <!-- endinject -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="litewait" ng-cloak>
    <div ng-controller="navbarCtrl">
    <div cg-busy="spinner.spinner" class="spinner-wrapper"></div>
    <div class="header-wrap">
    <header class="container">
      <div>
        <div class="col-md-6"><a ng-click="home()"><img src="img/logo.jpg" class="img-responsive pull-left" /></a></div>
        <div class="col-md-6">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>
              <div ng-if="!user.isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   <li><a ng-click="openUserModal()"><i class="fa fa-user fa-lg"></i></a></li>
                </ul>
              </div>
              <div ng-if="user.isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#" id="notify" ng-click="notifyToggle=!notifyToggle"><i class="fa fa-bell fa-lg"></i>(2)</a>
                    <div class="notify-wrap" id="notify-block" data-slide-toggle="notifyToggle" data-slide-toggle-duration="100" style="display:none;">
                      <div class="col-md-12">
                        <button type="button" class="close" ng-click="notifyToggle=!notifyToggle" data-dismiss="#notify-block">&times;</button>
                        <form role="form" method="post">
                          <div class="col-md-12">
                              <h2>Notification (2)</h2>
                              <div class="list">
                                  <div class="col-md-9">
                                      <h3>ID 456789</h3>
                                      <p>Order <a href="shopping-cart-summary.html">342342342</a> is ready for picked up.
                                        Mark it as complete once you pick up.
                                        Auto close order in 48 hours</p>
                                  </div>
                                  <div class="col-md-3"><a href="#" class="btn btn-default">complete</a></div>
                                  <a href="#" class="list-close"><i class="fa fa-times"></i></a>
                                  <div class="clearfix"></div>
                              </div>
                              <div class="list">
                                  <div class="col-md-9">
                                      <h3>ID 456789</h3>
                                      <p>Order <a href="shopping-cart-summary.html">342342342</a> is ready for picked up.
                                        Mark it as complete once you pick up.
                                        Auto close order in 48 hours</p>
                                  </div>
                                  <div class="col-md-3"><a href="#" class="btn btn-default">complete</a></div>
                                  <a href="#" class="list-close"><i class="fa fa-times"></i></a>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  
                  </li>
                  <li><a href="#"><i class="fa fa-shopping-cart fa-lg"></i>(10) </a></li>
                  <li class="dropdown" uib-dropdown>
                    <span class="user-prof">
                      <img src="img/user.jpg" />
                    </span>
                    <a href="#" uib-dropdown-toggle>
                      Welcome {{user.name}} <span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li><a ng-click="go('user.profile')"><i class="fa fa-th-large fa-lg"></i>My Account</a></li>
                        <li><a href="edit-profile.html"><i class="fa fa-cog fa-lg"></i>Settings</a></li>
                        <li><a ng-click="go('user.chpwd')"><i class="fa fa-key fa-lg"></i>Change Password</a></li>
                        <li><a ng-click="go('order.myorder')"><i class="fa fa-sort-alpha-desc fa-lg"></i>My Orders</a></li>
                        <li><a ng-click="logout()"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>

    </div>
    <div class="content">
      <div ui-view></div>
    </div>
    <footer class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-5 col-md-5"><a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a></div>
          <div class="col-xs-6 col-sm-3 col-md-3 social"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-youtube-square"></i></a> </div>
          <div class="col-xs-12 col-sm-4 col-md-4 right">© Copyright 2015 Light Wait</div>
        </div>
      </div>
    </footer>
    <script type="text/ng-template" id="userModal.html">
      <div id="signin-modal" ng-cloak>
        <button type="button" class="close" ng-click="modalProps.close()">&times;</button>
        <uib-tabset justified="true">
          <uib-tab active="modalProps.signin">
            <uib-tab-heading>
              <a href="">Signin</a>
            </uib-tab-heading>
            <div id="signin" class="tab-pane fade in active">
              <h2>Signin Via</h2>
              <div class="social"> <a class="btn col-md-6 fb"><i class="fa fa-facebook"></i>Signin with facebook</a> <a class="btn col-md-6 twit"><i class="fa fa-google"></i>Signin with gmail</a>
                <div class="clearfix"></div>
              </div>
              <p>OR</p>
              <div class="form-wrap">
                <input class="form-control" type="text" ng-model="modalProps.username" placeholder="User Name"/>
                <input class="form-control" type="password" ng-model="modalProps.password" placeholder="Password" />
                 <div class="sign-wrap"><a href="#" class="btn sign" ng-click="modalProps.login()">signin</a></div>
                 <div class="clearfix"></div>
                     
                     
                <div class="forget-wrap">
                  <div class="checkbox col-md-6">
                    <label>
                      <input type="checkbox" value="">
                      Keep me logged in</label>
                  </div>
                  <div class="col-md-6 right"> <a class="forget" href="#">Forgot Password?</a> </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <p class="joinus">New here ? <a  data-toggle="tab"  href="#signup" onclick="activaTab('signup-nav');">Join us</a></p>
          </div>
          </uib-tab>
          <uib-tab active="modalProps.signup">
            <uib-tab-heading>
              <a href="">Signup</a>
            </uib-tab-heading>
            <div class="signup-form-wrap">
              <!-- For Validation Error 
              <div class="alert alert-danger" >
                Validation Error
              </div> -->
              <input class="form-control" type="text" placeholder="Email Id"/>
              <input class="form-control" type="text" placeholder="User Name"/>
              <input class="form-control" type="password" placeholder="Password" />
              <input class="form-control" type="password" placeholder="Confirm Password" />
              <div class="radio-wrap">
                <label class="name">Register as</label> 
                <label class="radio-inline"><input type="radio" name="optradio">Consumer</label>
                <label class="radio-inline"><input type="radio" name="optradio">Merchant</label>
              </div>
              <div class="sign-wrap"><a href="#" class="btn sign">signup</a></div>
              <div class="clearfix"></div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </script>
    </div>
  </body>
  <!-- inject:js -->
  <!-- any *.js files among your sources will go here as: <script src="FILE"></script> -->
  <!-- endinject -->
  <script>
      $(function(){
        //$('.carousel').carousel();
      });
      function activaTab(tab){
        $('.nav-tabs li').removeClass('active');
        $('#'+tab).tab('show');
      }
  </script>
</html>
