<div class="container search">
    <h1>SEARCH FOR YOUR FAVORITE RETAILER</h1>
    <div class="row">
        <div class="col-md-5 less-padding">
            <input ng-model="sbc.searchCriteria.location" type="text" placeholder="Location" uib-typeahead="address as address.city_region_name for address in sbc.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noLocations" class="form-control" typeahead-on-select="sbc.onSelectRegion($item, $modal, $label, $event)"/>
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noLocations">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
        <div class="col-md-5 less-padding">
            <input type="text" class="form-control" ng-disabled="!sbc.isLocation" ng-model="sbc.searchCriteria.keyword" placeholder="Keyword" uib-typeahead="keyword as keyword.category for keyword in sbc.getKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noKeywords" class="form-control" typeahead-on-select="sbc.onSelectKeyword($item, $modal, $label, $event)"/>
            <i ng-show="loadingKeywords" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noKeywords">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
        <div class="col-md-2 less-padding">
            <a ng-disabled="!sbc.isLocation" class="btn btn-block" ng-click="sbc.searchFn($event)">
                <i class="fa fa-search"></i> Search
            </a>
        </div>
    </div>
</div>
