<div id="mer-info" infinite-scroll="mmc.nextPage()"
    infinite-scroll-distance="0"
    infinite-scroll-immediate-check="false"
    infinite-scroll-use-document-bottom="true">
    <a href="#/merchant/menu/add" class="add-btn-1"><i class="fa fa-plus"></i>Add</a>
    <a href="#/merchant/menu/add" class="add-btn-2"><i class="fa fa-plus"></i>Add</a>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Item Short Description</th>
                <th>Item Long Description</th>
                <th>Item Category</th>
                <th>Item Add Ons</th>
                <th>Item Price</th>
                <th>Upload Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="menu in mmc.data.menu">
                <td>{{menu.item_name}}</td>
                <td>{{menu.description}}</td>
                <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</td>
                <td>{{menu.category_name}}</td>
                <td>Lorem ipsum </td>
                <td>{{menu.price}}</td>
                <td><a href="#/merchant/menu/add">Lorem ipsum.jpg</a> </td>
                <td>
                    <a href="#/merchant/menu/edit/{{menu.item_id}}" class="edit"><i class="fa fa-pencil"></i></a>
                    <a ng-click="mmc.deleteMenu(menu.item_id)" class="delete"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
