<div class="container edit-profile">
   <div>
   			<div class="col-md-12">
               <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#edit-profile">Edit Profile</a></li>
                  <li><a data-toggle="tab" href="#payment-config">Payment Configuration</a></li>
               </ul>
               </div>
               <div class="tab-content">
                  <div id="edit-profile" class="tab-pane fade in active">
                  <h1>Edit Profile</h1>
                  
                  <div class="col-md-12 form-wrap">
      <form novalidate name="vm.editProfileForm" ng-submit="vm.updateProfile(editProfileForm.$valid)" role="form">
         <div class="col-md-6">
            <div class="form-group">
               <input type="text" name="user_name" maxlength="50" ng-model="vm.profile.user_name" class="form-control"  placeholder="Name">
               <div ng-if="vm.editProfileForm.$submitted && vm.editProfileForm.user_name.$invalid" ng-messages="vm.editProfileForm.user_name.$error" class="alert alert-danger">
                  <div ng-message="maxlength">Please enter a valid Username</div>
               </div>
            </div>
            <div class="form-group">
            	<textarea name="address_1" ng-model="vm.profile.contact_address_1" class="form-control"  placeholder="Address"></textarea>
            </div>
            <div class="form-group">
               <input type="text" name="state" ng-model="vm.profile.contact.state" class="form-control" placeholder="State">
            </div>
            <div class="form-group">
               <input type="text" name="zip_code" ng-model="vm.profile.contact.zip_code" class="form-control" placeholder="Zipcode">
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <input type="email" name="mail_id" ng-model="vm.profile.contact.mail_id" class="form-control" placeholder="Email">
               <div ng-if="vm.editProfileForm.$submitted && vm.editProfileForm.mail_id.$invalid" ng-messages="vm.editProfileForm.mail_id.$error" class="alert alert-danger">
                  <div ng-message="email">Please enter a valid Email Id</div>
                </div>
            </div>
            <div class="form-group">
               <input type="text" name="phone" ng-model="vm.profile.contact.phone" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group">
               <input type="text" name="city" ng-model="vm.profile.contact.city" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
               <input type="text" name="country" ng-model="vm.profile.contact.country" class="form-control" placeholder="Country">
            </div>
         </div>
         <div class="clearfix"></div>
         <div class="col-md-12">
            <button type="submit" class="btn btn-default pull-right">Submit</button>
            <button type="submit" ng-click="vm.cancel($event)" class="btn btn-default pull-right">Cancel</button>
            <div class="clearfix"></div>
         </div>
      </form>
   </div>
                     
                  </div>
                   <div id="payment-config" class="tab-pane fade in">
                    <h1>Payment Configuration</h1>
                  
                  <div class="col-md-12 form-wrap">
      <form role="form" novalidate name="vm.editPaymentForm" ng-submit="vm.savePayment(vm.editPaymentForm.$valid)">
         <div class="col-md-6">
            <div class="form-group">
               <select class="form-control" name="card_type" ng-model="vm.payment.card_type" required>
                  <option value="" selected>Card Type</option>
                  <option value="master">Mastercard</option>
                  <option value="visa">Visa</option>
               </select>
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.card_type.$invalid" ng-messages="vm.editPaymentForm.mail_id.$error" class="alert alert-danger">
                  <div ng-message="required">Card type is required</div>
               </div>
            </div>
            <div class="form-group">
            	<input required pattern="{{vm.AUTH_PROPS.CARD}}" type="text" class="form-control"  placeholder="Card Number" name="card_number" ng-model="vm.payment.card_number">
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.card_number.$invalid" ng-messages="vm.editPaymentForm.card_number.$error" class="alert alert-danger">
                  <div ng-message="required">Card number is required</div>
                  <div ng-message="pattern">Please enter a valid Credit/Debit Card Number</div>
               </div>
            </div>
            <div class="form-group">
              	<input required maxlength="50" type="text" class="form-control"  placeholder="Name as in card" name="card_name" ng-model="vm.payment.card_name">
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.card_name.$invalid" ng-messages="vm.editPaymentForm.card_name.$error" class="alert alert-danger">
                  <div ng-message="required">Card name is required</div>
                  <div ng-message="maxlength">Card number should have maximum 50 characters</div>
               </div>
            </div>
            <div class="form-group">
               <input date-as-ms required uib-datepicker-popup="MM/yyyy" min-mode="month" type="text" class="form-control" placeholder="Expiry date" name="card_expiry" ng-model="vm.payment.card_expiry" is-open="vm.pay.opened" on-open-focus="vm.pay.onOpenFocus">
               <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.card_expiry.$invalid" ng-messages="vm.editPaymentForm.card_expiry.$error" class="alert alert-danger">
                  <div ng-message="required">Card Expiry is required</div>
               </div>
            </div>
            <div class="form-group">
               <input required pattern="{{AUTH_PROPS.CVV}}" type="text" class="form-control" placeholder="CVV" name="cvv" ng-model="vm.payment.cvv">
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.cvv.$invalid" ng-messages="vm.editPaymentForm.cvv.$error" class="alert alert-danger">
                  <div ng-message="required">CVV is required</div>
                  <div ng-message="pattern">Please enter a valid CVV</div>
               </div>
            </div>
            <div class="form-group">
               <input required maxlength="100" type="text" class="form-control" placeholder="Address 1" name="address_1" ng-model="vm.payment.contact.address_1">
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.address_1.$invalid" ng-messages="vm.editPaymentForm.address_1.$error" class="alert alert-danger">
                  <div ng-message="required">Address 1 is required</div>
                  <div ng-message="maxlength">Address 1 should have maximum 100 characters</div>
               </div>
            </div>
            <div class="form-group">
               <input required maxlength="50" type="text" class="form-control" placeholder="City" name="city" ng-model="vm.payment.contact.city">
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.city.$invalid" ng-messages="vm.editPaymentForm.city.$error" class="alert alert-danger">
                  <div ng-message="required">City is required</div>
                  <div ng-message="maxlength">City should have maximum 50 characters</div>
               </div>
            </div>
            <div class="form-group">
               <select required class="form-control" name="state" ng-model="vm.payment.contact.state">
                  <option value="" selected>State</option>
                  <option value="Tamilnadu">Tamilnadu</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Andra">Andra</option>
               </select>
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.state.$invalid" ng-messages="vm.editPaymentForm.state.$error" class="alert alert-danger">
                  <div ng-message="required">State is required</div>
               </div>
            </div>
            <div class="form-group">
               <input required type="text" class="form-control" placeholder="Zip Code" name="zip_code" ng-model="vm.payment.contact.zip_code">
               <div ng-if="vm.editPaymentForm.$submitted && vm.editPaymentForm.zip_code.$invalid" ng-messages="vm.editPaymentForm.zip_code.$error" class="alert alert-danger">
                  <div ng-message="required">Zip Code is required</div>
               </div>
            </div>
            
            
         </div>
         <div class="col-md-6"></div>
     
         
         <div class="clearfix"></div>
  
    

         <div class="col-md-6">
            <button type="submit" class="btn btn-default pull-right">Save</button>
            <button type="submit" class="btn btn-default pull-right" ng-click="vm.cancel($event)">Cancel</button>
            <div class="clearfix"></div>
            
         </div>
         

      </form>
   </div>
                     
                  </div>
                  
                  
                  
               </div>
            </div>
   
</div>