<div class="container my-order-wrap">
         
   <div class="col-md-12 my-order">
   	<h1>My Orders</h1>
      <div class="row">
         <div class="col-md-3">
            <div class="filter">
               <ul>
                  <li>
                     <label>Filters</label>
                  </li>
                  <li>
                     <label>Status</label>
                     <div class="form-group">
                        <div class="checkbox">
                           <label>
                           <input type="checkbox" value="">
                           In-progress</label>
                        </div>
                        <div class="checkbox">
                           <label>
                           <input type="checkbox" value="">
                           Ready for pick-up</label>
                        </div>
                        <div class="checkbox">
                           <label>
                           <input type="checkbox" value="">
                           Complete</label>
                        </div>
                        
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-9 order-status">
            <div class="table-responsive">
               

                     <table class="table">
                        <thead>
                           <tr>
                              <th>Date / Time</th>
                              <th>Order ID</th>
                              <th>Merchant</th>
                              <th>Order Status</th>
                              <th>&nbsp;</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>10/26/2015 12:30 PM </td>
                              <td><a class="orderid" ng-click="go('cart.summary')">4269-2215</a></td>
                              <td><a ng-click="go('shop.detail')" class="merchant">Charlie's Sandwich Shoppe</a></td>
                              <td class="inprogress"> In progress</td>
                              <td>&nbsp;</td>
                           </tr>
                           <tr>
                              <td>10/26/2015 12:30 PM </td>
                              <td><a class="orderid" ng-click="go('cart.summary')">4269-2215</a></td>
                              <td><a ng-click="go('shop.detail')" class="merchant">Charlie's Sandwich Shoppe</a></td>
                              <td class="ready-pickup"> Ready for pick-up</td>
                              <td>&nbsp;</td>
                           </tr>
                           <tr>
                              <td>10/26/2015 12:30 PM </td>
                              <td><a class="orderid" ng-click="go('cart.summary')">4269-2215</a></td>
                              <td><a ng-click="go('shop.detail')" class="merchant">Charlie's Sandwich Shoppe</a></td>
                              <td class="complete"> Completed</td>
                              <td>&nbsp;</td>
                           </tr>
                           <tr>
                              <td>10/26/2015 12:30 PM </td>
                              <td><a class="orderid" ng-click="go('cart.summary')">4269-2215</a></td>
                              <td><a ng-click="go('shop.detail')" class="merchant">Charlie's Sandwich Shoppe</a></td>
                              <td class="complete"> Completed</td>
                              <td>&nbsp;</td>
                           </tr>
                           <tr>
                              <td>10/26/2015 12:30 PM </td>
                              <td><a class="orderid" ng-click="go('cart.summary')">4269-2215</a></td>
                              <td><a ng-click="go('shop.detail')" class="merchant">Charlie's Sandwich Shoppe</a></td>
                              <td class="complete"> Completed</td>
                              <td>&nbsp;</td>
                           </tr>
                        </tbody>
                     </table>

            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>